
@model Shirt

    <h1>Details Page</h1>

    Id: @Model.Id
    <br />
    Color: @Model.Color
    <br />
    Size: @Model.Size
    <br />
    Letter: @Model.Letter
    <br />
    ColorofLetter: @Model.ColorofLetter
    <br />
    TypeofShirt: @Model.TypeofShirt
    <br />

    <a asp-action="Edit" >Edit Shirt</a>
